#service_profile {
  .card {
    border: 1.5px solid transparent;
    border-radius: 4px !important;
    cursor: pointer;

    &[aria-selected='true'] {
      border-color: #2782f3 !important;
    }
  }
}

.select_service {
  .ant-popover {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
    font-weight: normal;
    white-space: normal;
    text-align: start;
    cursor: auto;
    user-select: text;
    transform-origin: var(--arrow-x, 50%) var(--arrow-y, 50%);
    --antd-arrow-background-color: #ffffff;
  }

}

.ant-tabs {
  &.hide-header {
    div[role='tablist'] {
      display: none;
    }
  }
}